.footer__column-link {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}