.feynman__subtitle {
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    margin-top: 70px;
  }