.table {
    width: 1100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 0px;
    padding: 0;
    margin: 60px 0px 0px 0px;
    justify-content: space-between;
  }