
.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin: 0;
  font-weight: 600;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  margin-left: 64px;
  z-index: 1;
}